<div class="welcome-section">
  <h2>Welcome to the Discussion Forum !</h2>
  <p>
    "A vibrant hub where diverse ideas converge, discussions thrive, and
    solutions emerge. Be part of a community where your questions and insights
    help shape the world around you."
  </p>
</div>
<button
  mat-raised-button
  color="accent"
  routerLink="/questions/new"
  class="post-btn"
>
  Ask
</button>
<div class="chat-and-trending-wrapper" style="display: flex; gap: 30px">
  <!-- Chat Section -->
  <div class="chat-section" style="flex: 2">
    <h3 class="chat-header">Live Chat</h3>
    <br />
    <div class="chat-box">
      <div *ngFor="let msg of messages" class="chat-msg">{{ msg }}</div>
    </div>
    <div class="message-input">
      <input
        class="message-field"
        [(ngModel)]="newMessage"
        placeholder="Type your message..."
        (keydown.enter)="sendMessage()"
      />
      <button class="send-button" (click)="sendMessage()">Send</button>
    </div>
  </div>

  <!-- Trending Section -->
  <div class="trending-section">
    <h3>Top Stories</h3>
    <div *ngFor="let news of trendingNews" class="trending-item">
      <h4>{{ news.title }}</h4>
      <p>{{ news.description }}</p>
      <i class="fas fa-arrow-right arrow-icon"></i>
    </div>
  </div>
</div>
<br /><br />
<!-- Carousel -->
<div class="caro">
  <ng-container *ngIf="recentQuestions.length > 0">
    <owl-carousel-o [options]="carouselOptions">
      <ng-container *ngFor="let question of recentQuestions; let i = index">
        <ng-template carouselSlide>
          <a [routerLink]="['/questions', question.id]" class="carousel-link">
            <div class="carousel-card">
              <img
                class="carousel-image"
                [src]="imageList[i % imageList.length]"
              />
              <div class="carousel-content">
                <h3>{{ question.title }}</h3>
              </div>
            </div>
          </a>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </ng-container>
</div>
